<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>FileServlet</servlet-name>
        <servlet-class>PostController.FileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTextServlet</servlet-name>
        <servlet-class>PostController.GetTextServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageUpload</servlet-name>
        <servlet-class>PostController.ImageUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>kietpt.servlet.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>kietpt.servlet.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostCollaborator</servlet-name>
        <servlet-class>PostController.AddPostCollaborator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPostModerColla</servlet-name>
        <servlet-class>PostController.SearchPostModerColla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreateAccountController</servlet-name>
        <servlet-class>UserController.AdminCreateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePostCollaborator</servlet-name>
        <servlet-class>PostController.UpdatePostCollaborator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitModerator</servlet-name>
        <servlet-class>PostController.SubmitModerator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectedPostModerator</servlet-name>
        <servlet-class>PostController.RejectedPostModerator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitSaveDraftPostColla</servlet-name>
        <servlet-class>PostController.SubmitSaveDraftPostColla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassCollaController</servlet-name>
        <servlet-class>UserController.ChangePassCollaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPostDetail</servlet-name>
        <servlet-class>PostController.ShowPostDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveDraftPostCollaborator</servlet-name>
        <servlet-class>PostController.SaveDraftPostCollaborator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassModerController</servlet-name>
        <servlet-class>UserController.ChangePassModerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPostModerColla</servlet-name>
        <servlet-class>PostController.ViewPostModerColla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>kietpt.servlet.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveDraftPostSaveDraft</servlet-name>
        <servlet-class>PostController.SaveDraftPostSaveDraft</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassReaderController</servlet-name>
        <servlet-class>UserController.ChangePassReaderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccountAdminController</servlet-name>
        <servlet-class>UserController.ManageAccountAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>UserController.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetRoleAndBannedController</servlet-name>
        <servlet-class>UserController.SetRoleAndBannedController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileCollaController</servlet-name>
        <servlet-class>UserController.UpdateProfileCollaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileModeratorController</servlet-name>
        <servlet-class>UserController.UpdateProfileModeratorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileReaderController</servlet-name>
        <servlet-class>UserController.UpdateProfileReaderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailAccountController</servlet-name>
        <servlet-class>UserController.ViewDetailAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertComment</servlet-name>
        <servlet-class>PostController.InsertComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveDraftUpdatePostColla</servlet-name>
        <servlet-class>PostController.SaveDraftUpdatePostColla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportController</servlet-name>
        <servlet-class>UserController.ReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestController</servlet-name>
        <servlet-class>PostController.TestController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileServlet</servlet-name>
        <url-pattern>/FileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTextServlet</servlet-name>
        <url-pattern>/GetTextServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageUpload</servlet-name>
        <url-pattern>/ImageUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostCollaborator</servlet-name>
        <url-pattern>/AddPostCollaborator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPostModerColla</servlet-name>
        <url-pattern>/SearchPostModerColla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreateAccountController</servlet-name>
        <url-pattern>/AdminCreateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePostCollaborator</servlet-name>
        <url-pattern>/UpdatePostCollaborator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitModerator</servlet-name>
        <url-pattern>/SubmitModerator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectedPostModerator</servlet-name>
        <url-pattern>/RejectedPostModerator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitSaveDraftPostColla</servlet-name>
        <url-pattern>/SubmitSaveDraftPostColla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassCollaController</servlet-name>
        <url-pattern>/ChangePassCollaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPostDetail</servlet-name>
        <url-pattern>/ShowPostDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveDraftPostCollaborator</servlet-name>
        <url-pattern>/SaveDraftPostCollaborator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassModerController</servlet-name>
        <url-pattern>/ChangePassModerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPostModerColla</servlet-name>
        <url-pattern>/ViewPostModerColla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveDraftPostSaveDraft</servlet-name>
        <url-pattern>/SaveDraftPostSaveDraft</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassReaderController</servlet-name>
        <url-pattern>/ChangePassReaderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccountAdminController</servlet-name>
        <url-pattern>/ManageAccountAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetRoleAndBannedController</servlet-name>
        <url-pattern>/SetRoleAndBannedController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileCollaController</servlet-name>
        <url-pattern>/UpdateProfileCollaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileModeratorController</servlet-name>
        <url-pattern>/UpdateProfileModeratorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileReaderController</servlet-name>
        <url-pattern>/UpdateProfileReaderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailAccountController</servlet-name>
        <url-pattern>/ViewDetailAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertComment</servlet-name>
        <url-pattern>/InsertComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveDraftUpdatePostColla</servlet-name>
        <url-pattern>/SaveDraftUpdatePostColla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportController</servlet-name>
        <url-pattern>/ReportController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestController</servlet-name>
        <url-pattern>/TestController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>setCharacterEncodingFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <!-- The mapping for the Set Character Encoding Filter -->
    <filter-mapping>
        <filter-name>setCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
